<!--
  Generated template for the ThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar back-button color="light">
    <ion-title>Thank You</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1 justify-content-center>Thank you for submitting</h1>
                <h6>
                  You should receive an email with a report attached. Please check your Junk/Spam folders.
                </h6>
              </ion-col>
            <img src="assets/imgs/logo.png">
        </ion-row>
    </ion-grid>
</ion-content>
