<ion-header>
  <ion-navbar back-button color="light">
            <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="surveyQuestion && surveyTab==0">
    <ion-row>
        <ion-col col-12>
            <div class="progress survey-app-progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                aria-valuenow="{percentage}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': percentage + '%' }">
                  {{percentage}}% Complete (success)
                </div>
              </div>
        </ion-col>

    </ion-row>
    <form (ngSubmit)="logForm(f);" #f="ngForm">
      <ion-row *ngFor="let question of surveyQuestion;let i=index" [ngClass]="(questionNo!=i)?'hidden-fields':''">

          <ion-col col-12>
        <ion-input type="hidden" name="qid{{i}}" value="{{question.id}}" [(ngModel)]="question.id"></ion-input>
        <ion-item>
          <ion-label class="questionTitle" stacked>{{question.title}}
              <ion-badge *ngIf="question.type=='r'">{{selectedRangeValue}}</ion-badge>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="question.subtitle" class="questionSubtitle" stacked>{{question.subtitle}}</ion-label>
          <ion-input  *ngIf="question.type=='t'" type="text" value=""  
          name="answer_{{question.id}}" ngModel (ionChange)="currentFieldValid($event)"></ion-input>
          <ion-range *ngIf="question.type=='r'" pin="true" min="{{question.options[0].value}}" max="{{question.options[1].value}}"  
          color="secondary" name="answer_{{question.id}}" ngModel (ionChange)="getRangeValue($event)">
              <ion-label range-left>{{question.options[0].value}}</ion-label>
              <ion-label range-right>{{question.options[1].value}}</ion-label>
          </ion-range>
        </ion-item>
        <ion-item *ngIf="question.type=='cq'" class="content-based-question">
        <p [innerHtml]="question.content"></p>
        </ion-item>
      <ion-list *ngIf="question.type=='mc'">
          <ion-item *ngFor="let opt of question.options;let i=index;">
            <ion-label>{{opt.value}}</ion-label>
            <ion-checkbox [checked]="false" name="answer_{{question.id}}_{{ i }}" 
            value="0" [(ngModel)]="opt.checked" (ionChange)="currentFieldChecked(opt)">{{opt.value}}</ion-checkbox>
          </ion-item>
      </ion-list>

          <ion-list *ngIf="question.type=='sc'">
              <ion-item no-lines *ngFor="let optradio of question.options;let i=index;">
                <ion-label>{{optradio.value}}</ion-label>
                <ion-radio value="{{optradio.value}}" [checked]="(radioChecked[question.id]==optradio.value)?true:false" (ionSelect)="onRadioOption(question.id,optradio.value)">{{optradio.value}}</ion-radio>
                <ion-input type="hidden" name="answer_{{question.id}}" [(ngModel)]="dynamicNames[question.id]"></ion-input>
              </ion-item>
          </ion-list>
      </ion-col>


        <ion-col col-12>
            <button ion-button type="button" [disabled]="!(i>0)" color="light" (click)="previousField(i-1);">Previous</button>
            <button *ngIf="question.type=='cq'" ion-button float-right type="button"
              [disabled]="!(i<(surveyQuestion.length)-1)"
              (click)="nextField(i+1);" [ngStyle]="{display:(i<(surveyQuestion.length)-1)?'block':'none'}">
              Next</button>
              <button *ngIf="question.type!='cq'" ion-button float-right type="button" 
              [disabled]="!(i<(surveyQuestion.length)-1) || !currentFildValid || question.type=='cq'" 
              (click)="nextField(i+1);" [ngStyle]="{display:(i<(surveyQuestion.length)-1)?'block':'none'}">
              Next</button>
            <button ion-button  [disabled]="!currentFildValid" float-right [ngStyle]="{display:(i<(surveyQuestion.length)-1)?'none':'block'}">Submit</button>
        </ion-col>
      </ion-row>
    </form>
      </ion-grid>
  <ion-grid *ngIf="surveyTab==1">
    <ion-row justify-content-center align-items-center>
        <img src="assets/imgs/logo.png" alt="Welcome to survey App">
        <button ion-button block (click)="openPage('new');">New Entry</button>
        <button ion-button block (click)="openPage('old');">Edit Existing Entry</button>
      </ion-row>
  </ion-grid>
</ion-content>
