<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>My Account </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <button ion-button full color="danger" 
    (click)="logout();">Logout</button>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
        <ion-title>Change Password </ion-title>
      <ion-col col-12>
          <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangeForm()">
              <ion-item>
                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input type="password" placeholder="New password" formControlName="newPassword"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Confirm password"
                    formControlName="confirmPassword" validateEqual="newPassword" reverse="false"></ion-input>
                </ion-item>
                <ion-item *ngIf="changePasswordForm.controls.confirmPassword.touched && (changePasswordForm.controls.confirmPassword.value !=
                changePasswordForm.controls.newPassword.value)">
                  <p id="passwordNotMatched">Sorry, Confirm password not matched!</p>
              </ion-item>
    
              <button ion-button type="submit" block [disabled]="!changePasswordForm.valid">Change Password</button>
            </form>
      </ion-col>
        
  </ion-row>
</ion-grid>
</ion-content>
