page-change-password {
    #passwordNotMatched{
        color:red;
    }
    .logout-button{
        margin-top:-26px;
    }
    ion-grid.grid ion-row.row ion-title{
        text-align:center;
    }
}
