<!--
  Generated template for the ForgotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <img src="assets/imgs/logo.png">
          <form [formGroup]="forgotForm" (ngSubmit)="submitForm()">
            <ion-item>
              <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
            </ion-item>
            <button ion-button type="submit" block [disabled]="!forgotForm.valid">Submit</button>
          </form>
        </ion-row>
      </ion-grid>
</ion-content>
